@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@import './cores-base.css';

@theme {
  /* Registrando suas cores na escala do Tailwind v4 */
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);

  --color-act-50: var(--act-50);
  --color-act-100: var(--act-100);
  --color-act-200: var(--act-200);
  --color-act-300: var(--act-300);
  --color-act-400: var(--act-400);
  --color-act-500: var(--act-500);
  --color-act-600: var(--act-600);
  --color-act-700: var(--act-700);
  --color-act-800: var(--act-800);
  --color-act-900: var(--act-900);
  --color-act-950: var(--act-950);

  --color-surface-50: var(--surface-50);
  --color-surface-100: var(--surface-100);
  --color-surface-200: var(--surface-200);
  --color-surface-300: var(--surface-300);
  --color-surface-400: var(--surface-400);
  --color-surface-500: var(--surface-500);
  --color-surface-600: var(--surface-600);
  --color-surface-700: var(--surface-700);
  --color-surface-800: var(--surface-800);
  --color-surface-900: var(--surface-900);
  --color-surface-950: var(--surface-950);
}

/* @import './style.css'; */
