---
import { Image } from 'astro:assets';
import youtubeImg from '../assets/youtube.avif';
import anaiLinda from '../assets/thumbnail-anai.jpg';
import BaseLayout from '../layouts/BaseLayout.astro';
import MeusTemas from '../layouts/MeusTemas.astro';
const pageTitle = 'Home';
---

<BaseLayout pageTitle={pageTitle}>
  <!-- ===================== DOBRA 1 ===================== -->
  <!-- Vídeo em destaque à esquerda e texto de apresentação à direita -->
  <section class="bg-base-800 text-act-200">
    <h2
      class="text-center text-[2.20rem] font-bold leading-9 pt-6 pb-6 hero-title"
    >
      Falando, refletindo e fazendo música!
    </h2>

    <div class="flex gap-8 justify-center content-center pb-10 flex-wrap">
      <!-- Bloco do vídeo do YouTube -->
      <div>
        <a href="https://www.youtube.com/watch?v=MKIf01JiNLo" target="_blank">
          <div class="relative inline-block">
            <Image
              src={anaiLinda}
              alt="Anaí sorrindo na frente do piano de cauda em uma sala"
              format="webp"
              class="min-w-lg max-w-lg h-auto block rounded-3xl"
            />
            <Image
              src={youtubeImg}
              alt="Ícone do YouTube"
              format="webp"
              class="w-13 h-auto absolute bottom-4 right-4 img-pequena"
            />
          </div>
        </a>
      </div>

      <!-- Bloco de texto de apresentação -->
      <div
        class="bg-act-200 rounded-3xl py-6 px-6 text-base-800 text-lg leading-6 min-w-lg max-w-lg"
      >
        <p>Olá, meu nome é Anaí, sou professora de música e amo tocar piano.</p>
        <br />
        <p>
          Convido você a fazer uma viagem pelo mundo da música. É simples e
          gratuito, basta se inscrever no meu canal no YouTube.
        </p>
        <br />
        <p>
          Ah, não se esqueça de ativar o sininho de notificação para receber
          aviso quando eu colocar vídeo novo!
        </p>
      </div>
    </div>
  </section>
  <MeusTemas />
</BaseLayout>
