---
import Navigation from './Navigation.astro';
import Footer from './Footer.astro';
import RedesSociais from './RedesSociais.astro';

import '../styles/global.css';

const { pageTitle = 'Home' } = Astro.props;
const title1 = pageTitle === 'Home' ? 'Anaí Rosa' : `Anaí Rosa - ${pageTitle}`;
const title2 = pageTitle === 'Home' ? 'Anaí Rosa' : pageTitle;
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title1}</title>
    <link rel="icon" type="image/png" href="/images/favicon.jpg" />
  </head><body class="bg-act-200 text-base-800">
    <Navigation />

    <section>
      <h1 class="text-center text-4xl font-bold leading-9 pt-6 pb-6">
        {title2}
      </h1>
    </section>

    <slot />

    <RedesSociais />
    <Footer />
  </body>
</html>
