---

---

<section class="themes" style="padding: 20px">
  Copyright <span id="ano-corrente">111968</span> - Anaí Rodrigues Rosa
</section>

<script>
  const yearElement = document.getElementById('ano-corrente');
  if (yearElement) {
    yearElement.textContent = new Date().getFullYear().toString();
  }
</script>
